
<nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item" href="#">
            <!-- <img src="https://bulma.io/images/bulma-logo.png" width="112" height="28"> -->
            <img src="/static/images/logo.png" width="50" height="50">

        </a>
        
        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            
        </a>
    </div>
    

    <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start">
            <a class="navbar-item" href="/">
                Home
            </a>

            <!-- <a class="navbar-item">
          Promos
        </a> -->
            <!-- orders -->
            <a class="navbar-item" href="/view_orders">
                Orders
            </a>

            <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link">
                    Products
                </a>

                <div class="navbar-dropdown" id="products-dropdown">
                    {% for category in categories %}
                    <a class="navbar-item">
                        {{ category.name }}
                    </a>
                    {% endfor %}

                    <hr class="navbar-divider">
                    <a class="navbar-item">
                        Report an issue
                    </a>
                </div>
            </div>
        </div>
    </div>
</nav>
<script>
    document.addEventListener('DOMContentLoaded', () => {
        const dropdownLinks = document.querySelectorAll('.navbar-item.has-dropdown');
        
        dropdownLinks.forEach(link => {
            const dropdownContent = link.querySelector('.navbar-dropdown');

            link.addEventListener('click', (event) => {
                event.stopPropagation();  // Prevent the click event from propagating to the document

                // Toggle the is-active class on the dropdownContent
                dropdownContent.classList.toggle('is-hidden');
            });
        });

        // Close dropdown when clicking outside
        document.addEventListener('click', () => {
            dropdownLinks.forEach(link => {
                const dropdownContent = link.querySelector('.navbar-dropdown');
                dropdownContent.classList.add('is-hidden');
            });
        });
    });
</script>

<script>
    var product_category = document.querySelectorAll('.navbar-dropdown .navbar-item');
    for (var i = 0; i < product_category.length; i++) {

        product_category[i].onclick = function () {
            window.location.href = '/product-category/' + this.innerText;
        }
    }

    // show navigation when i click the burger icon. do not show the dropdown menu unless clicked
    var burger = document.querySelector('.navbar-burger');
    var nav = document.querySelector('.navbar-menu');
    burger.onclick = function () {
        nav.classList.toggle('is-active');
    }

    

</script>