{% extends 'layout/base.html' %}
{% load static %}
{% load custom_tags %}
{% block content %}
<style>
    figure:hover {
        cursor: pointer !important;
    }



    /* when on mobile, center the columns */
    @media screen and (max-width: 768px) {
        .container-sm {
            justify-content: center !important;
            width: auto !important;
            height: auto !important;
            flex-wrap: nowrap;
            padding: 10%;
            /* remove box shadow */
            box-shadow: none !important;
        }
        .product {
            justify-content: center !important;
            width: auto !important;
            height: auto !important;

        }

        .columns {
            justify-content: center !important;
            flex-wrap: wrap !important;
        }

    }



    @media screen and (max-width: 1150px) {

        .columns {
            flex-wrap: wrap !important;
            gap: 10px !important;
            justify-content: center !important;
        }
    }

    @media screen and (max-width: 1060px) {
        .columns {
            flex-wrap: wrap !important;
            gap: 10px !important;
            justify-content: center !important;
        }

        .product {
            justify-content: center !important;
            width: auto !important;
            height: auto !important;
            flex-wrap: nowrap;

        }
    }
</style>

<div class="container-sm">
    <hr>
    <span class="container-title">
        <p class="text-left subtitle is-6">{{category_name}}</p>
    </span>
    <hr>
    <!-- show a grid of products and the images -->
    <div class="columns is-multiline" id="product-columns">
        {% if products %}
        {% for product in products %}
        <div class="column is-one-quarter">
            <div class="product">
                <div class="product-image">
                    <div class="product-tag">
                        
                        <div class="product-discount-tag">
                            {% if product.discount_percentage > 0 %}
                            <p class="tag is-primary is-light">{{product.discount_percentage}}%</p>
                            {% else %}
                            <p class="tag is-primary is-light" style="visibility: hidden;">{{product.discount_percentage}}%</p>
                            {% endif %}
                        </div>
                        
                    </div>
                    <figure class="image is-4by3" id="{{product.id}}">
                        <img src="data:image/jpeg;base64,{{ product.image|to_base64 }}" alt="Image">
                    </figure>
                </div>
                <div class="product-content">
                    <div class="media">
                        <div class="media-content">
                            <p class="is-4">{{product.item_name}}</p>
                            <p class="is-8">In stock - {{product.stock}}</p>
                        </div>
                    </div>
                    <div class="product-price product_add_to_cart">
                        <p class="is-4">$ {{product.price}}</p>
                        <a class="tag is-rounded is-colorful-btn" data-product-id="{{product.id}}"><i class="fa-solid fa-cart-shopping"></i> Add to
                            cart</a>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
        {% else %}
        <!-- place a text at the center of the screen saying no products -->
        <div class="column is-full">
            <div class="notification is-warning">
                <p class="subtitle is-6" style="text-align: center;">No products of the category found</p>
            </div>
        </div>
        {% endif %}
    </div>

    <!-- <script src="/core/static_files/js/main.js"></script> -->
    <script src="{% static 'js/main.js' %}"></script>
    <script>
        var product = document.querySelectorAll('.product-image figure');
        product.forEach(function (item) {
            item.addEventListener('click', function () {
                var id = item.getAttribute('id');
                window.location.href = '/product/' + id;
            });
        });
    </script>

    {% endblock %}