{% extends 'layout/base.html' %}
{% load custom_tags %}
{% block content %}
<style>
 /* .product_image {
     width: 50%;
     height: 50%;
     float: left;
     margin-right: 10px;
 }
 .product_detail {
     width: 50%;
     
     float: right;
 } */
.amount_input {
    /* remove input outline and border */
    outline: none !important;
    border: none !important;
}

.product_amount .has-addons {
    display: block;
    justify-content: center;
    align-items: center;

}

.change_amount_btn {
    display: flex;
    text-align: center;
    gap: 10px;
}

.plus a, .minus a {
    /* remove decorations */
    text-decoration: none !important;
    /* disable selecting */
    user-select: none;
}

 @media screen and (max-width: 768px) {
    .product_add_to_cart, .product_stock, .product_price {
    text-align: center;
 }
 .product_amount .has-addons {
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     gap: 10px;
 }
 }
</style>
<!-- image of product on left and description and other details on the right -->

<div class="container-sm">
    <nav class="breadcrumb" aria-label="breadcrumbs">
        <ul>
          <li><a href="#">Products</a></li>
          <li class="is-active"><a href="#" aria-current="page">{{product.item_name}}</a></li>
        </ul>
      </nav>
    <div class="columns">
        <div class="column is-one-third">
            <div class="product_image">
                <figure class="image is-4by3">
                    <img src="data:image/jpeg;base64,{{ product.image|to_base64 }}" alt="Image">
                </figure>
            </div>
        </div>
        <div class="column">
            <div class="product_detail">
                <br>
                <div class="product_name">
                    <p class="title is-4">{{product.item_name}}</p>
                </div>
                <hr>
                <div class="product_description">
                    <p class="is-4">{{product.description}}</p>
                </div>
                <hr>
                <div class="product_price">
                    <p class="is-4">Price: € {{product.price}}</p>
                </div>
                <div class="product_stock">
                    <p class="is-4">In stock - {{product.stock}}</p>
                </div>
                <hr>
                <!-- toggle amount of products -->
                <div class="product_amount">
                    <div class="field has-addons">
                        <div class="control">
                            <!-- <input class="amount_input" type="number" value="1"> -->
                            <p class="is-4 ">Amount: <span class="amount_input">1</span> </p>
                        </div>
                        <div class="change_amount_btn">
                            <div class="control plus">
                                <a class="tag is-info">
                                    +
                                </a>
                            </div>
                            <div class="control minus">
                                <a class="tag is-info">
                                    -
                                </a>
                            </div>
                        </div>
                    </div>

                <div class="product_add_to_cart">
                    <a class="tag is-rounded is-colorful-btn" data-product-id="{{product.id}}"><i class="fa fa-cart-shopping"></i> Add to cart</a>
                </div>
            </div>
        </div>

      </div>
    
    
</div>
<!-- <script src="/core/static_files/js/main.js"></script> -->
<script src="{% static 'js/main.js' %}"></script>
<script>
    // track previous url
    var previousUrl = document.referrer;
    console.log(previousUrl);

    const breadcrumbLinks = document.querySelectorAll('.breadcrumb a');
    breadcrumbLinks.forEach(link => {
      link.addEventListener('click', event => {
        event.preventDefault(); // Prevent the default link behavior
        // go to previous page not using history
        window.location.replace(previousUrl);

      });
    });
    // change the amount of products
    const plus = document.querySelector('.product_amount .plus');
    const minus = document.querySelector('.product_amount .minus');
    var input = document.querySelector('.product_amount .amount_input').innerHTML;
    // convert input to integer
    input = parseInt(1);
    input = parseInt(input);
    plus.addEventListener('click', function() {
        input = input + 1;
        document.querySelector('.product_amount .amount_input').innerHTML = input;
        console.log(input);
    });
    minus.addEventListener('click', function() {
        if (input > 1) {
            input = input - 1;
            document.querySelector('.product_amount .amount_input').innerHTML = input;
        }
    });

    // add to cart
//     const addToCartBtn = document.querySelector('.product_add_to_cart a');

//     // addtocartbtn data-product-id
//     const productId = addToCartBtn.dataset.productId;
//     addToCartBtn.addEventListener('click', function(){
//         // ajax request
//         var url = "/add_to_cart/";
//         var data = {
//             'id': productId,
//             'quantity': input,
//         }
//         $.ajax({
//             url: url,
//             type: 'POST',
//             data: data,
//             dataType: 'json',
//             success: function(data){
//                 console.log(data);
//                 // update the cart amount
//                 // document.querySelector('.cart .amt').innerHTML = input;
//             }
//         })

//         // update quantity in cart
//         var cart_quantity_url = "/quantity_in_cart/";
//         // sleep(2 seconds)
//         setTimeout(function() {
//     $.ajax({
//         url: cart_quantity_url,
//         type: 'GET',
//         dataType: 'json',
//         success: function(data){
//             console.log(data);
//             document.querySelector('.cart span .amt').innerHTML = data.quantity;
//         }
//     });
// }, 2000); // 2000 milliseconds (2 seconds)

//     })
    

  </script>

{% endblock %}