{% load custom_tags %}
{% if products %}
{% for product in products %}
<style>
    figure:hover {
        cursor: pointer;
    }
</style>
<div class="list-products">
    <div class="product">
        <div class="product-image">
            <div class="product-tag">
                <div class="product-discount-tag">
                    {% if product.discount_percentage > 0 %}
                    <p class="tag is-primary is-light">{{product.discount_percentage}}%</p>
                    {% else %}
                    <p class="tag is-primary is-light" style="visibility: hidden;">{{product.discount_percentage}}%</p>
                    {% endif %}
                </div>
                {% if product.stock > 0 %}
                        <div class="product-stock-tag" style="border: green 1px solid;">
                            <i class="fa fa-circle" aria-hidden="true" style="color: green"></i>
                        </div>
                        {% else %}
                        <div class="product-stock-tag" style="border: red 1px solid;">
                            <i class="fa fa-circle" aria-hidden="true" style="color: red"></i>
                        </div>
                        {% endif %}
            </div>
            <figure class="image is-4by3" id="{{product.id}}">
                <img src="data:image/jpeg;base64,{{ product.image|to_base64 }}" alt="Image">
            </figure>
        </div>
        <div class="product-content">
            <div class="media">
                <div class="media-content">
                    <p class="is-4">{{product.item_name}}</p>
                    <p class="is-8">In stock - {{product.stock}}</p>
                </div>
            </div>
            <div class="product-price">
                <p class="is-4">$ {{product.price}}</p>
                <a class="tag is-rounded is-colorful-btn"><i class="fa-solid fa-cart-shopping"></i> Add to cart</a>
            </div>
        </div>
    </div>
</div>
{% endfor %}
{% endif %}