{% extends 'shop/base.html' %}
{% load static %}
{% block title %}Orders{% endblock %}
{% block content %}
<style>
    .body {
        min-height: max-content !important;
        overflow-y: auto;
        padding-bottom: 50px !important;
    }

    .inventory {
        overflow-x: auto !important;
        justify-content: center;
        overflow-y: auto;
        min-height: 100vh !important;

    }

    .table {
        width: 100%;
        overflow-x: auto !important;
    }
</style>
<section class="hero is-colorful welcome is-small is-fixed-top">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">
                Orders
            </h1>
            <h2 class="subtitle">
                See your orders here!
            </h2>
        </div>
    </div>
</section>
<div class="card-content">
    <div class="content">
        <div class="control has-icons-left has-icons-right inventory-search">
            <input class="input is-small" type="text" placeholder="">
            <span class="icon is-medium is-left">
                <i class="fa fa-search"></i>
            </span>
            <span class="icon is-medium is-right">
                <i class="fa fa-check"></i>
            </span>
        </div>
        <div class="inventory">
            <table id="product-table">
                <thead>
                    <td>Order ID</td>
                    <td>Sale Date</td>
                    <td>Customer</td>
                    <td>Sale Value</td>
                    <td>Order Details</td>
                </thead>
                <tbody>
                    {% for sale in sales %}
                    <tr>
                        <td>{{ sale.id }}</td>
                        <td>{{ sale.date_of_sale }}</td>
                        <td>{{ sale.order.buyer.first_name }} {{ sale.order.buyer.last_name }}</td>
                        <td>{{ sale.order. }}</td>
                        <td><a href="/sale_details/{{sale.id}}" class="button is-small is-link">View</a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}
